<?xml version="1.0"?>
<!--
Copyright (c) 2019, I3D Robotics Ltd.
-->

<robot name="deimos" 
    xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="camera_name" default="deimos"/>
    <xacro:arg name="en_imu" default="false"/>
    <xacro:arg name="en_mesh" default="true"/>

    <xacro:include filename="$(find i3dr_deimos)/urdf/deimos.urdf.xacro" />
    <xacro:deimos_camera camera_name="$(arg camera_name)" en_mesh="true" en_imu="$(arg en_imu)"/>
</robot>