<?xml version="1.0"?>
<!--
Copyright (c) 2019, I3D Robotics Ltd.
-->

<robot name="deimos" 
    xmlns:xacro="http://ros.org/wiki/xacro">

    <!--<link name="odom"/>-->
<!--
    <xacro:include filename="$(find i3dr_stereo_camera)/urdf/i3dr_stereo_camera.urdf.xacro" />

    <xacro:i3dr_stereo_camera camera_name="deimos" baseline="0.06" toe_in_r="0" toe_in_l="0" model_offset_xyz="-0.014 0 0" model_offset_rpy="1.57 0 1.57" width="0.10175" height="0.038" length="0.03242" imu_en="false" load_mesh="true" mesh_file="package://i3dr_deimos/mesh/deimos.stl" mount_offset_y="-0.015" image_width="752" image_height="480" image_format="MONO8" hfov="1.04" focus_near="0.3" r="0.1" g="0.1" b="0.1"/>
-->

    <xacro:include filename="$(find i3dr_deimos)/urdf/deimos.urdf.xacro" />
    <xacro:deimos_camera camera_name="deimos" en_mesh="true"/>
    <!--<joint name="world_imu_joint" type="floating">
        <parent link="deimos_imu_link"/>
        <child link="odom"/>
    </joint>-->
</robot>