<?xml version="1.0"?>
<!--
Copyright (c) 2019, I3D Robotics Ltd.
-->

<robot name="deimos" 
    xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find deimos)/urdf/i3dr_stereo_camera.urdf.xacro" />

    <xacro:i3dr_stereo_camera camera_name="deimos" baseline="0.06" toe_in="0" width="0.038" height="0.10175" length="0.03242" mount_offset_y="-0.015" image_width="752" image_height="480" image_format="MONO8" hfov="1.04" focus_near="0.3" r="0.1" g="0.1" b="0.1" />

</robot>