<?xml version="1.0"?>

<robot name="deimos" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find deimos)/urdf/deimos.urdf.xacro" />
  
  <link name="base_link" />

  <xacro:deimos_camera />
  
  <joint name="camera_link" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="deimos_left_mount" />
  </joint>

</robot>
