<launch>
    <!-- STEREO CAPTURE -->
    <arg name="camera_namespace" default="i3dr_deimos"/>
    <arg name="urdf_namespace" default="i3dr_deimos"/>
    <arg name="device" default="/dev/video0"/>
    <arg name="exposure" default="5000" />
    <arg name="fps" default="60" />
    <arg name="camera_serial" value="001022"/>
    <arg name="frame_id" default="$(arg camera_namespace)_depth_optical_frame" />
    <arg name="cameraLeft_info_url"  default="file://$(find i3dr_deimos)/calibration/$(arg camera_serial)/deimos_left.yaml" />
    <arg name="cameraRight_info_url" default="file://$(find i3dr_deimos)/calibration/$(arg camera_serial)/deimos_right.yaml" />
    <arg name="camera_mesh" default="false" />
    <arg name="imu" default="false" />

    <param name="$(arg camera_namespace)_robot_description" command="$(find xacro)/xacro '$(find i3dr_deimos)/urdf/deimos_scene.urdf.xacro' en_imu:=$(arg imu) camera_name:=$(arg urdf_namespace) en_mesh:=$(arg camera_mesh)" />
    <node name="robot_state_publisher_$(arg camera_namespace)" pkg="robot_state_publisher" type="state_publisher">
        <remap from="robot_description" to="$(arg camera_namespace)_robot_description"/>
    </node>
    
    <group ns="$(arg camera_namespace)">
        <node pkg="i3dr_deimos" type="deimos_node" name="deimos" output="screen">
            <param name="width" type="int" value="752" />
            <param name="height" type="int" value="480" />
            <param name="fps" type="int" value="$(arg fps)" />
            <param name="frame_id" type="string" value="$(arg frame_id)"/>
            <param name="imu_frame_id" type="string" value="$(arg camera_namespace)_base_link"/>
            <param name="device" type="string" value="$(arg device)" />
            <param name="exposureValue" type="int" value="$(arg exposure)" />
            <param name="cameraLeft_info_url" type="string" value="$(arg cameraLeft_info_url)" />
            <param name="cameraRight_info_url" type="string" value="$(arg cameraRight_info_url)" />
        </node>
    </group>
</launch>