<?xml version="1.0"?>
<!--XML-->
<launch>
    <!-- SETUP ARGUMENTS -->
    <!-- enable/disable rviz -->
    <arg name="rviz" default="false" />
    <!-- enable/disable calibration -->
    <arg name="calibrate" default="false"/>
    <!-- namespace for camera -->
    <arg name="camera_namespace" default="deimos"/>
    
    <!-- this should not change as it is the namespace of frames in the urdf-->
    <arg name="urdf_namespace" value="deimos"/>
  
    <!-- SETUP ROBOT MODEL -->
    <param name="$(arg urdf_namespace)_robot_description" command="$(find xacro)/xacro '$(find i3dr_deimos)/urdf/deimos_scene.urdf.xacro'" />
    <node name="robot_state_publisher_deimos" pkg="robot_state_publisher" type="state_publisher">
        <remap from="robot_description" to="$(arg urdf_namespace)_robot_description"/>
    </node>

    <!-- STEREO CAPTURE -->
    <include file="$(find i3dr_deimos)/launch/deimos_capture.launch">
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="device" value="/dev/video0"/>
        <arg name="exposure" value="5000" />
        <arg name="frame_id" value="$(arg urdf_namespace)_depth_optical_frame" />
    </include>

    <!-- STEREO CALIBRATION -->
    <include if="$(arg calibrate)" file="$(find i3dr_stereo_camera)/launch/stereo_calibration.launch">
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
    </include>

    <!-- STEREO MATCHER -->
    <include file="$(find i3dr_stereo_camera)/launch/stereo_matcher.launch">
        <arg name="use_i3dr_matcher" value="true"/>

        <!-- Matcher Parameters -->
        <!-- see link below for details on matcher parameters -->
        <!-- http://wiki.ros.org/stereo_image_proc/Tutorials/ChoosingGoodStereoParameters -->
        <!-- algorithm 0: OpenCV block -->
        <!-- algorithm 1: OpenCV SGBM -->
        <!-- algorithm 2: JR SGM -->
        <arg name="stereo_algorithm" value="0" />
        <arg name="min_disparity" value="-18" />
        <arg name="disparity_range" value="96" />
        <arg name="correlation_window_size" value="19" />
        <arg name="uniqueness_ratio" value="2" />
        <arg name="texture_threshol" value="1" />
        <arg name="speckle_range" value="4" />
        <arg name="speckle_size" value="1000" />
        <arg name="prefilter_size" value="147" />
        <arg name="prefilter_cap" value="7" />
        <arg name="p1" value="200"/>
        <arg name="p2" value="400"/>
        <arg name="interp" value="false" />

        <!-- maximum depth value (m) -->
        <!-- reduce this if RTabMap is showing flat image in back of 3D -->
        <arg name="depth_max" default="3" />

        <arg name="gui" value="true"/>
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="frame_id" value="$(arg urdf_namespace)_depth_optical_frame" />
    </include>

    <!-- DISPLAY -->
    <!-- run rviz with config file -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rivz" 
        args="-d $(find i3dr_deimos)/rviz/scene.rviz"/>

</launch>